<table class="contact">
	<thead>
		<tr>
			<th>Email</th>
			<th>Phone</th>
			<th>Web</th>
			<th>Mail</th>
		</tr>
	</thead>

	<tbody>
	    <tr>
			<td><a href="mailto:eligundry@gmail.com">eligundry@gmail.com</a></td>
	        <td>330.828.6147</td>
			<td>
				<a href="http://eligundry.com">eligundry.com</a>
				<a href="https://github.com/eligundry">github/eligundry</a>
				<a href="https://twitter.com/EliGundry">twitter/eligundry</a>
			</td>
			<td>
				1675 Franklin Ave.<br />
				Apt 39<br />
				Kent, Ohio 44240
			</td>
	    </tr>
	</tbody>
</table>
